<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='static/images/favicon.ico') }}">
  <link href="{{ url_for('static', path='static/add_movie.css') }}" rel="stylesheet">
</head>

{% include 'navbar.html' %}

<div class="container">
  <h1>Update movie</h1>
  <form method="POST" action="/update_movie/{{ film.name }}">
    <div class="mb-3">
      <label for="name" class="form-label">Film Name</label>
      <input type="text" class="form-control" required name="name" value="{{ film.name }}" aria-describedby="emailHelp" readonly>
    </div>
    <div class="mb-3">
      <label for="director" class="form-label">Director of The Movie</label>
      <input type="text" class="form-control" required name="director" value="{{ film.director }}">
    </div>
    <div class="mb-3">
      <label for="startYear" class="form-label">Start Year</label>
      <input type="date" class="form-control" required name="startYear" value="{{ film.startYear }}">
    </div>    
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" required name="category" value="{{ film.category }}">
    </div>
    <div class="mb-3">
      <label for="runtimeMinutes" class="form-label">Duration</label>
      <input type="text" class="form-control" required name="runtimeMinutes" value="{{ film.runtimeMinutes }}">
    </div>
    <div class="mb-3">
      <label for="rate" class="form-label">Rate</label>
      <input type="number" class="form-control" required name="rate" value="{{ film.rate }}">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" required name="description" rows="4">{{ film.description }}</textarea>
    </div>    
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name="image" value="{{ film.image }}">
    </div>    
    <button type="submit" class="btn btn-primary" onclick="update_movie('{{ film.name }}')">Update</button>
  </form>
</div>

{% block script %}
<script>
  async function update_movie(movieName) {
    const form = document.querySelector('form');
    const formData = new FormData(form);

    const response = await fetch(`/update_movie/${movieName}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(formData)),
    });

    const result = await response.json();
    document.getElementById('result').innerText = result.message;

    if (result.message === 'Movie updated successfully') {
      window.location.href = '/movies'
    }
  }
</script>
{% endblock %}
<footer class="main-footer">
  <p>©gnome search 2023</p>
</footer>
